* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas1 {
  border: 5px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

#player,
#background,
#obstacle1,
#obstacle2,
#obstacle3,
#obstacle4,
#obstacle5,
#obstacle6,
#rocket,
#rocket-warning,
#coins,
#power-up-1,
#power-up-2,
#player-dead,
#initial-background,
#game-over,
#bgOne {
  display: none;
}

#canvas1 {
  background-size: contain;
  background-position: 0 0;
}
